<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <header class="main-header">
        <%- include('../partials/header') %> 
    </header>
    <main class="full body">
        <section id="carrito">
            <h2>carrito de compra</h2>
            <article class="encabezado">
                <h3 id="articulos">Articulos</h3>
                <div><h3>Precio unitario</h3>
                <h3>Cantidad</h3>
                <h3>total</h3></div>
            </article>
            <article>
                <img src="/img/Perfumes/HOMBRES/Frescos/LIGHT BLUE/2.jpg" alt="LIGHT BLUE">
                <p class="nombreProducto"><strong>LIGHT BLUE</strong></p>
                <button class="compra" type="submit">Eliminar</button>
                <div>
                <div><label>precio</label><p class="precioCarrito">$000.000</p></div>
                <div><label>cantidad</label><input class="carritoCantidad" id="box-number"type="number" value="number" name="cant"  min="1" required></div>
                <div><label>total</label><p>$000.000</p></div>
                </div>
            </article>
            <article>
                <img src="/img/Perfumes/HOMBRES/Amaderado/CREED SILVER MOUNTAIN WATER/1.jpg" alt="CREED SILVER MOUNTAIN WATER">
                <p class="nombreProducto"><strong>CREED SILVER MOUNTAIN WATER</strong></p>
                <button class="compra" type="submit">Eliminar</button>
                <div>
                <div><label>precio</label><p class="precioCarrito">$000.000</p></div>
                <div><label>cantidad</label><input class="carritoCantidad" id="box-number"type="number" value="number" name="cant"  min="1" required></div>
                <div><label>total</label><p>$000.000</p></div>
                </div>
            </article>
            <article>
                <img src="/img/Perfumes/MUJERES/Floral/BVLGARI OMNIA AMATISTA/1.jpg" alt="BVLGARI OMNIA AMATISTA">
                <p class="nombreProducto"><strong>BVLGARI OMNIA AMATISTA</strong></p>
                <button class="compra" type="submit">Eliminar</button>
                <div>
                <div><label>precio</label><p class="precioCarrito">$000.000</p></div>
                <div><label>cantidad</label><input class="carritoCantidad" id="box-number"type="number" value="number" name="cant"  min="1" required></div>
                <div><label>total</label><p>$000.000</p></div>
                </div>
            </article>
            <article>
                <img src="/img/Perfumes/MUJERES/Frutal/GUCCI BAMBOO/2.jpg" alt="GUCCI BAMBOO">
                <p class="nombreProducto"><strong>GUCCI BAMBOO</strong></p>
                <button class="compra" type="submit">Eliminar</button>
                <div>
                <div><label>precio</label><p class="precioCarrito">$000.000</p></div>
                <div><label>cantidad</label><input class="carritoCantidad" id="box-number"type="number" value="number" name="cant"  min="1" required></div>
                <div><label>total</label><p>$000.000</p></div>
                </div>
            </article>
            
            <article id="total">
                <div>
                <div><label>subtotal</label><p>$000.000</p></div>
                <div><label>impuestos</label><p>$000.000</p></div>
                <div><label>total</label><p>$000.000</p></div>
            </div>
            </article>
            <div class="finalizarCompra">
                <form action="/">
                <button type="submit">  Seguir comprando</button></a>
                <button type="submit">Actualizar carrito</button>
                <button id="finalizar" type="submit">Finalizar compra</button></a>
            </form>
            </div>

        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>

</html>