<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creación de Productos</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <header class="main-header">
        <%- include('../partials/header') %> 
    </header>
    <div align="center">
        <form action="/" name="crearProducto" id="crearProducto">
            <h1>Crear Producto</h1>
                <div class="optionNewProduct">
                    <label for="nombreProducto" class="left">
                        <p>
                            <label for="nombreProducto" class="left"><h2>Nombre del Producto</h2></label>
                        </p>
                        <input type="text" name="nombreProducto" id="nombreProducto">
                    </label>
                </div>
                <div class="optionNewProduct">
                    <label for="precioProducto" class="left">
                        <p>
                            <label for="precioProducto"><h2>Precio del Producto</h2></label>
                        </p>
                        <input type="text" name="precioProducto" id="precioProducto">
                    </label>
                </div>
                <div class="optionNewProduct">
                    <label for="categoriaProducto" class="left">
                        <p>
                            <label for="categoriaProducto"><h2>Categoria del Producto</h2></label>
                        </p>
                        <p class="categoria">
                            <input type="radio" name="categoria" id="categoria">Masculina
                            <input type="radio" name="categoria" id="categoria">Femenina
                        </p>
                    </label>
                </div>
                <div class="optionNewProduct">
                    <label for="familiaProducto" class="left">
                        <p>
                            <label for="familiaAroma"><h2>Familia Aroma</h2></label>
                        </p>
                        <select name="familiaAroma" id="familiaAroma">
                            <option value="1">Gucci</option>
                            <option value="2">Light</option>
                            <option value="3">Cred Silver</option>
                            <option value="4">Bvlgari</option>
                        </select>
                    </label>
                </div>
                <div class="optionNewProduct">
                    <label for="imagenProducto" class="left">
                        <p>
                            <h2>Imagen del Producto</h2>
                        </p>
                        <input type="file" name="imagenProducto" accept=".jpg, .png, .jpeg">
                    </label>
                </div>
                <div class="optionNewProduct">
                    <label for="descripcionProducto" class="left">
                        <p>
                            <h2>Descripcion del Producto</h2>
                        </p>
                        <textarea name="descripcionProducto" id="descripcionProducto"></textarea>
                    </label>
                </div>
            <p class="botonRegistrarProducto">
                <input type="submit" name="registrar" id="registrar" value="Registrar">
            </p>
        </form>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>