<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(locals.productos && productos.length) {%>
        <% productos.forEach(producto => { %>
          <h4><%= producto.id %></h4>
        <p class="ps-text-grey">
          <%= producto.name%> U$S <%=producto.price%>
        </p>
        <br />
       <% }); %>
      <%} else { %>
        <p>No hay ningun dato disponible</p>
      <%}%>
</body>
</html>