<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/detalleProducto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Detalle Producto</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class=main-header-top-left>
                <a href="#" class="options-list">
                    <i class="fas fa-th-list"></i>
                </a>
                <img src="/img/logoFraganceLife.png" alt="logo-fragance-life" class="logo" >
            </div>
            <ul class="right-navbar">
                <li><a href="#"><i class="fas fa-user"></i></a></li>
                <li><a href="#"><i class="fas fa-search"></i></a></li>
                <li><a href="#"><i class="fas fa-shopping-cart"></i></i></a></li>
            </ul>
        </div>
        <nav class="main-navbar">
            <ul class="navbar">
                <li><a href="#">Marcas</a></li>
                <li><a href="#">Aromas</a></li>
                <li><a href="#">Hombre</a></li>
                <li><a href="#">Mujeres</a></li>
                <li><a href="#">Promociones</a></li>
            </ul> 
        </nav>
    </header>
</body>
</html>