<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Fragance-Life</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="main-header-top-left">
              <a class="logo"  href="/"><img src="/img/logoFraganceLife.png" alt="logo-fragance-life"></a>
            </div>
            <div class="main-header-top-right">
                <div class="login-register">
                    <ul>
                        <li><a href="./login">Iniciar sesión</a></li>
                        <li class="reg"><a href="./register">Registrate</a></li>
                    </ul>
                </div>
                <div class="rightt">
                    <input type="search" name="search" id="search" placeholder="Busca productos aqui">
                    <ul class="right-navbar">
                        <li class="searchs"><a href="#"><i class="fas fa-search"></i></a></li>
                        <li class="main-nav"><a href="#"><i class="fas fa-th-list"></i></a></li>
                        <li><a href="./login"><i class="fas fa-user" id="user"></i></a></li>
                        <li><a href="#"><i class="fas fa-shopping-cart"></i></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <nav class="main-navbar">
            <ul class="navbar">
                <li id="li"><a href="#">Marcas</a></li>
                <li><a href="#">Familia Aroma</a></li>
                <li><a href="#">Hombre</a></li>
                <li><a href="#">Mujeres</a></li>
                <li id="promo"><a href="#">Promociones</a></li>
            </ul> 
        </nav>
    </header>
    <img class="img-start" src=".\img\fragance-life.jpg" alt="image">
    <main class="full body">
        <h3 id="subtitulos">Promociones</h3>
        <article class="promo">
            <article class="promociones">
                <ul type ="None">
                    <h3>¡Súper promo de la Semana!</h3>
                    <img class="product-img" src = "./img/Perfumes\HOMBRES\Amaderado\CREED SILVER MOUNTAIN WATER\2.jpg" alt="imagen">
                    <div class="description">
                        <div class="description-before">
                            <li id="time">Antes:</li>
                            <li id="precio-before">$150000</li>
                        </div>
                        <div class="description-after">
                            <li id="time">Ahora:</li>
                            <li id="precio">$95000</li>
                        </div>
                    </div>
                </ul>
            </article>
        <article class="second-sale">
            <div class="third-sale">
                <ul type ="None">
                    <img class="product-img" src = ".\img\Perfumes\HOMBRES\Frescos\LIGHT BLUE\1.jpg" alt="imagen">
                    <div class="promotion-description">
                        <p id="discuont-product">Light Blue For Men</p>
                        <div class="description-before">
                            <li id="precio-before">$150000</li>
                        </div>
                        <p id="discuont-product">¡36% de Descuento!</p>
                        <div class="description-after">
                            <li id="precio">$95000</li>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="third-sale">
                <ul type ="None">
                    <img class="product-img" src = ".\img\Perfumes\MUJERES\Frutal\GUCCI BAMBOO\2.jpg" alt="imagen">
                    <div class="promotion-description">
                        <p id="discuont-product">Gucci Bamboo</p>
                        <div class="description-before">
                            <li id="precio-before">$150000</li>
                        </div>
                        <p id="discuont-product">¡36% de Descuento!</p>
                        <div class="description-after">
                            <li id="precio">$95000</li>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="third-sale">
                <ul type ="None">
                    <img class="product-img" src = ".\img\Perfumes\HOMBRES\Orientales\EROS VERSACE\3.jpg" alt="imagen">
                    <div class="promotion-description">
                        <p id="discuont-product">Eros Versace</p>
                        <div class="description-before">
                            <li id="precio-before">$150000</li>
                        </div>
                        <p id="discuont-product">¡36% de Descuento!</p>
                        <div class="description-after">
                            <li id="precio">$95000</li>
                        </div>
                    </div>
                </ul>
            </div>
    </article>
        </article>
        
        <h3 id="subtitulos">Productos Destacados</h3>
        <article class="producto-destacado">
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\HOMBRES\Amaderado\INVICTUS\2.jpg" alt ="imagen">
                <div class="main-product-description">
                    <p id="name-product">Invictus</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="#"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\MUJERES\Floral\CHANEL N°5\3.jpg" alt ="imagen">
                <div>
                    <p id="name-product">Chanel N°5</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="#"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\HOMBRES\Amaderado\CREED VETIVER\2.jpg" alt ="imagen">
                <div>
                    <p id="name-product">Creed Vetiver</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="#"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\MUJERES\Floral\LIGHT BLUE\4.jpg" alt ="imagen">
                <div>
                    <p id="name-product">Light Blue</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="#"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\MUJERES\Orientales\COCO CHANEL\1.jpg" alt ="imagen">
                <div>
                    <p id="name-product">Coco Chanel</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="#"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
        </article>
        <h3 id="subtitulos">Productos Nuevos</h3>
        <article class="producto-destacado">
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\MUJERES\Orientales\GOOD GIRL\1.jpg" alt ="imagen">
                <div>
                    <p id="name-product">Good Girl</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="#"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\HOMBRES\Orientales\ONE MILLION\4.jpg" alt ="imagen">
                <div>
                    <p id="name-product">One Million</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="#"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\MUJERES\Frutal\ROCK! BY SHAKIRA\1.jpg" alt ="imagen">
                <div>
                    <p id="name-product">Rock! By Shakira</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="#"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\HOMBRES\Frescos\ACQUA DI GIO\1.jpg" alt ="imagen">
                <div>
                    <p id="name-product">Acqua Di Gio</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="#"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\HOMBRES\Amaderado\LA COSTE RED\1.jpg" alt ="imagen">
                <div>
                    <p id="name-product">La Coste Red</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="#"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
        </article>
    </main>
    <footer>
        <article class="footer">
            <div class="footer-contact">
                <p class="footer-contact-content">Contacto</p>
                <p class="footer-contact-content">Cel: (+57) 000 000 0000</p>
                <p class="footer-contact-content">Direccion: Cra 0 # 0-0</p>
            </div>
            <div class="footer-social">
                <p class="footer-social-content">Síguenos</p>
                <p class="footer-social-content"><span><a href="#"><i  id="social" class="fab fa-twitter"></i></a>
                </i></span></i><span><a href="#"><i id="social" class="fab fa-instagram"></i></a>
                </i></span><span><a href="#"><i id="social" class="fab fa-facebook-f"></i></a></span></p>
            </div>
            <div class="footer-right">
                <p class="footer-right-content">Copyright <i class="far fa-copyright"></i> 2021</p>
                <p class="footer-right-content">Heider Andrés Arellano Oviedo</p>
                <p class="footer-right-content">Daniel Nicolás Nossa Valderrama</p>
                <p class="footer-right-content">Esneyder Saavedra Cárdenas</p>
            </div>
        </article>
    </footer>
</body>
</html>