@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:#E6E6E6;
}
/* header */
header{
    background-color: #FF9000;
}
.main-header-top-bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw 4vw 2vw 4vw;
}

 header img{
     width: 70%;
     margin:3px;
 }
 header  ul{
    list-style: none;
 }
 header .main-header-top-bar ul{
     margin-right: 5px;
     display: flex;
     justify-content:space-around;
     align-items: center;
     min-width: 40%;
 }

 header .main-header-top-bar li{
    width: 30px;
 }
 
 header  .right-navbar a{
    text-decoration: none;
    color:#152440;
    text-align: center;
    padding:3px;
    margin:-2vw;
    font-size: 1.5rem;
 }
header .main-navbar{
    max-width:100vw;
    display:flex;
    justify-content: center;
}


header  .main-navbar ul li{
    font-size: 14px;
    margin: 2px;
    padding: 0px 3px;
}


header .main-navbar,header .main-header-top-right #search,.login-register{
    display:none;
}

/* Home Main */ 
.img-start{
    width: 100%;
    height: 150px;
    border: black 1px solid;
}
.promo{
    display: flex;
    justify-content: space-around;
}
.second-sale{
    display: none;
    width: 60%;
}
.third-sale{
    display: flex;
    flex-wrap: wrap;
    width: 28%;
    text-align: center;
    justify-content: center;
    border: white solid 10px;
    margin: auto;
    border-radius: 20px;
    margin-top: 10px;
    background-color: white;
    transition: all 800ms;
}
.promociones{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    text-align: center;
    justify-content: center;
    border: white solid 10px;
    margin: auto;
    border-radius: 20px;
    margin-top: 10px;
    background-color: white;
    transition: all 500ms;
}
.promociones a,.producto-destacado a,.third-sale a{
    text-decoration: none;
    color: black;
}
.destacado-producto{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    text-align: center;
    justify-content: center;
    border: white solid 10px;
    margin: auto;
    border-radius: 20px;
    margin-top: 10px;
    padding-bottom: 7px;
    background-color: white;
    transition: all 800ms;
}
.third-sale:hover{
    opacity: 0.7;
    width: 32%;
    color: black;
    border: gray solid 10px;
}
.promociones:hover{
    opacity: 0.7;
    color: black;
    width: 63;
    font-size: 20px;
    border: gray solid 10px;
}
.destacado-producto:hover{
    opacity: 0.9;
    color: black;
    border: gray solid 10px;
}
#discuont-product{
    display: flex;
    font-size: 13px;
    justify-content: center;
   
}
#subtitulos{
    margin: 10px;
    padding-left: 10px;
    padding: 20px;
    font-size: 25px;
}
.product-img{
    width: 90%;
    padding-top: 10px;
    height: 160px;
    border-radius: 15px;
}
.description{
    display: flex;
    justify-content: space-around;
}
#time{
    display: flex;
    font-size: 10px;
    justify-content: center;
    
}
#precio{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    
}
#precio-before{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    text-decoration: line-through;
}
.producto-destacado{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px
   
}
#name-product{
    display: flex;
    font-size: 15px;
    justify-content: center;
    padding-top: 5px;
}
.compra{
    padding: 5px 15px;
    background-color: rgba(167, 163, 163, 0.466) ;
    text-decoration: none;
    border-radius: 10px;
    border: grey 1px outset;
    color: black;
    font-weight: bold;
    font-size: 12px;
    transition: all 300ms;
}
.compra:hover{
    opacity: 1;
    font-size: 13px;
    background-color: rgba(27, 25, 25, 0.452);
}
#img-buy-car{
    padding-right: 10px;
}

/* :::main  detalle producto:::*/
main section .imgs-product{
    background-color: #FFFFFF;
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    border: #E6E6E6 solid 1px;
}
main section .imgs-product .img-top{
    width: 96%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 10px 0px 5px 0px; 
}
main section .imgs-product .img-top img{
    width: 100%;
    border-radius: 10px;
}
main section .imgs-product .img-botton{
    width: 95%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
main section .imgs-product .img-botton .img-botton_secont{
    width: 85%;
    display:flex;
    justify-content:center;
}

main section .imgs-product .img-botton .img-botton_secont .img_secont{
    width: 32%;
    margin:4px;
}

main section .imgs-product .img-botton .arrows{
    width: 7.5%;
    display: flex;
    justify-content: center;
}

main section .imgs-product .img-botton .arrows a i{
font-size: 1.4rem;
color:#152440;
}
main section article .main-data{
    width:90%;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    
    padding:10px;
}
main section article .main-data form{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    
}

main section article .main-data  #name,#price,#buy ,#precio-before{
font-size: 1rem;
font-weight: 900;
}
main section article .main-data  #name,#availability,#price,#precio-before{
    padding-bottom: 10px;
}
main section article .main-data #cant{
    padding-bottom: 5px;
}
#precio-before{
    list-style:none;
    text-align: left;
}
main section article .main-data #box-number{
    text-align: center;
    width: 26%;
    height: 18px;
    margin-bottom: 10px;
    border: #E6E6E6 solid 1px;
}

main section article .main-data #buy{
    padding: 2px;
    background-color: rgba(21, 36,64,0.8);
    border:solid 1px #152440; 


}
main section article .main-data #buy,#buy i{
    padding-right: 11px;
    padding-left: 8px;
}
main section article .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 18px;
}
main section article .description p{
    width: 95%;
    text-align: justify;
    padding: 10px;
}

/* :::::::::::::::main register::::::::::::::::::: */
main section.register{
    width:100%;
    display: flex;
    justify-content: center;
}
main section.register article{
    width: 80%;
    display: flex;
    justify-content:center;
}
main section.register article form{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    position: relative;
}
main section.register form .form-label_title,.form-label_subtittle{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}
main section.register form .form-label_title{
    font-size: 20px;
    font-weight: 900;
}
main section.register form .form-label_dates{
    font-weight: bold;
    padding-top: 10px;
}
main section.register form .form-input-dates{
    background-color:#E6E6E6;
    border: 1px solid rgba(167, 163, 163, 0.466);
    padding: 5px;
    border-radius: 4px;
}
main section.register form .form-input-dates::placeholder{
    color:black;
}

main section.register form .form-input-button{
    padding: 5px;
    color:black;
    font-weight: bold;
    background-color:rgba(128, 128, 128,0.8);
    border: 1px solid gray;
    width: 40%;
    margin:20px 0px;
}
main section.register form .feedback{
    color: red;
    font-weight: bold;
}
main section.register form .login{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

/* ::::::::::::::main login::::::::::::::::::::::::::: */
main section.login {
    width: 100%;
    display: flex;
    justify-content: center;
}

main section.login article {
    width: 80%;
    display: flex;
    justify-content: center;
    padding:15px;
}

main section.login article form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}
main section.login form .form-label_title{
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
main section.login form .form-label_dates {
    font-weight: bold;
    padding-top: 20px;
}
main section.login form .form-input-dates {
    background-color: #E6E6E6;
    border: 1px solid rgba(167, 163, 163, 0.466);
    padding: 5px;
    border-radius: 4px;
}
main section.login form .form-input-dates::placeholder{
    color:black;
}
main section.login #form-a{
    text-align: end;
    text-decoration: none;
    color:gray;
    margin-bottom: 10px;
}
main section.login form .form-input-button {
    padding: 5px;
    color: black;
    font-weight: bold;
    background-color: rgba(128, 128, 128,0.8);
    border: 1px solid gray;
    width: 40%;
    margin: 20px 0px;
}
.form-input-button:hover{
    background-color:#152440;
}
main section.login form .register{
    position:absolute;
    bottom:0px;
    right:0px;
}

/*---------------------------editar producto-------------------------*/
main .register  article form textarea{
    height: 100px;
}

/*---------------------------main carrito de compras-------------------------*/
main #carrito{

    padding: 15px;
    margin: auto;
    min-width: 330px;
}
main #carrito h2{
    display: block;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: solid 2px white;
}
main #carrito .encabezado{
    display: none;
}

main #carrito article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom: solid 2px white;
    position: relative;
   
}
main #carrito article img{
    width: 130px;
    height: 130px;
    align-items: flex-start;
    border-radius: 10px;
}

main #carrito article button{
    height: 25px;
    position: absolute;
    top: 100px;
    left: 178px;
}

main #carrito article label{
    flex-direction: column;
    margin-bottom: 5px;
    font-weight: bold;
}

main #carrito article .carritoCantidad{
    width: 50px;
    height: 25px;
    margin: auto;
}

main #carrito article .nombreProducto{
    display: flex;
    width: 130px;
    padding-top: 15px;
    padding-left: 20px;
    text-align: center;
    justify-content:  center;
}
main #carrito article div{
    display: flex;
    flex-wrap: wrap;

}
main #carrito article div div{
    width: 33%;
    padding: 10px;
    margin: auto;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
}
main #carrito #total{
    border-bottom: none;
}
main #carrito #total div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; width: 100%;
}
main #carrito #total div div{
    flex-direction: row;
    justify-content: flex-end;
}

main #carrito #total div div label{
    padding-right: 10px;
}

main #carrito .finalizarCompra form{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  
}
main #carrito .finalizarCompra form button{
    width: 30%;
    min-width: 85px;
    max-width: 180px;
    height: 40px;  
    margin-right: 5px;
    border: 1px solid #152440;
    font-weight: bold;
    color: #152440;
}

main #carrito .finalizarCompra form #finalizar{
    background-color: #152440;
    color: #E6E6E6;
}
/*-------------------------------adminsitrar productos---------*/
#admin>h2{
    text-align: center;
    padding: 10px;

}
#admin>a{
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #152440;
    text-decoration: none;
    

}

.productosExistentes {
    background-color: #FFFFFF;
    width: 100%;
    margin:auto;
}
.productosExistentes tr th {
    background-color: #152440;
    color: #FFFFFF;
    font-weight: bold;
    margin: 2px;
    padding: 5px;
    font-size: 18px;
}
.productosExistentes tr td{
    border-bottom: 1px solid rgba(128, 128, 128,0.8);
    border-right: 1px solid rgba(128, 128, 128,0.8);
    margin: 2px;
    padding: 5px;
}

.centrarIcon{
    text-align: center;
    width: 12%;
}

.productosExistentes tr td>i{
    color: #152440;
    text-align: center;
}

/*---------formulario eliminar------------------*/
#eliminar{
    display: flex;
    width: 0;
}
#eliminar input{
    width: 40%;
    min-width: 85px;
    max-width: 180px;
    height: 35px;  
    margin-right: 5px;
    border: 1px solid #152440;
    font-weight: bold;
    background-color: #152440;
    color: #FFFFFF;
    position:absolute;
    top: 700px;
    left:-90px
}


/*home footer*/

footer{
    background-color: #152440; 
}
.footer{
    display:flex;
    flex-direction:column;
    padding-top: 10px;
    background-color: #152440;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.footer-contact{
    line-height: 21px;
    border-bottom: solid white 2px;
    padding-bottom: 10px;
}
.footer-social{
    line-height: 30px;
    border-bottom: solid white 2px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#social{
    text-decoration: none;
    background-color: white;
    color: #152440;
    border-radius: 50%;
    padding: 7px;
    margin: 3px;
}
.footer-right{
    line-height: 23px;
    border-bottom: solid white 2px;
    padding-bottom: 10px;
    padding-top: 10px;
}

@media(min-width:481px){
    /* header */
    header .main-header-top-bar{
        padding:1.5vw;
    }
    
    header .main-header-top-right{
        width: 60%;
    }
    header .main-header-top-left{
        width: 40%;
    }
    header img{
        width: 90%;
    }
    header .login-register{
        display:flex;
        justify-content: flex-end;
        padding: 10px 0px;
    }
    header .main-header-top-right .login-register ul{
        width : 50%;
        display:flex;
        justify-content:flex-end;
        text-decoration: none;
        align-items: center;
    }
   
    header .login-register ul li {
        text-align: center;
        width:45%;
    }
    header .login-register ul li .reg{
        width: 30%;
    }
    header .login-register ul li a{
        text-decoration: none;
        font-size: 1rem;
        color: #FFFFFF;
    }
    ::placeholder {
        padding: 1px;
        color: white;
        font-size: 0.9rem;
      }
    header .main-header-top-right #search{
        display:flex;
        width: 60%;
        background-color: #FF9000;
        border: #152440 solid 2px;
        border-radius: 2px;
        padding:2px 0px;
    }
   
    .rightt {
        display:flex;
        justify-content:space-evenly;
    }
    header .main-header-top-right li {
        width: auto;
    }

    /*:::::::::::::::::::::::::::Home Main:::::::::::::::::::::::*/
    .img-start{
        width: 100%;
        height: 185px;
    }
    .destacado-producto{
        display: flex;
        flex-wrap: wrap;
        width: 30%;
    }
    .promociones:hover{
        width: 65%;
    }
/* ::::main detalle_producto:::::: */
    main section.detail-product article{
        display: flex;
        flex-wrap: wrap;
    }
    main section .imgs-product{
        width:55%
    }
    main section article .main-data{
        width: 35%;
    }

    /* :::::::::::::::main register::::::::::::::::::: */

main section.register article{
    width: 60%;
    
}
main section.register form .form-input-button {
    max-width:125px;
}
/* ::::::::::::main login:::::::::::::::::: */
main section.login article {
    width: 60%;
    margin: 30px 0px;
    max-width: 370px;
}

main section.login form .form-input-button {
    max-width:125px;
}

/* :::::::::::footer:::::::::::::::::::: */
    .footer{
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .footer-contact,.footer-social,.footer-right{
        width:45%;
        padding:5px;
        
    }
    .footer-contact{
        border-right: solid white 1px;
    }
    .footer-social{
        padding:7px;
        border-left: solid white 1px;
    }
    .footer-right{
        border-bottom:none;
    }
}

@media(min-width:769px){

    .main-nav{
        display:none;
    }
    ::placeholder {
        padding: 4px;
        font-size: 1rem;
      }
      header img{
        width: 50%;
        margin:3px;
     }
    header .main-header-top-bar {
        max-width: 1200px;
        justify-content: center;
        margin:auto;
    }
    header .main-header-top-bar ul {
        min-width: 30%;
    }
    header .main-navbar{
        display:flex;
        max-width:1200px;
        margin: auto;
        padding:0px 10px; 
    }
    header .main-navbar .navbar{
        width:100%;
        padding: 0px 10px 10px 0px;
        display:flex;
        justify-content: space-evenly;
        
    }
    header .main-navbar ul li {
        display:flex;
        justify-content:center;
        width: 20%;
        border-left: 1px solid #FFFFFF;
        transition: all 500ms;
    }
    
   
    header .main-navbar ul #promo{
        border-right: 1px solid #FFFFFF;
    }
    header .main-navbar ul li a{
        text-decoration: none;
        color:#152440;
        font-size:1.3rem;
        font-weight:bold;
        transition: all 400ms;
    }
    header .main-navbar ul li a:hover{
        font-size: 1.5rem;
        color: white;
    }
    /*Home Main*/
    .img-start{
        width: 100%;
        height: 300px;
    }
    .destacado-producto{
        display: flex;
        flex-wrap: wrap;
        width: 18%;
    }
    .destacado-producto:hover{
        width: 20%;
        font-size: 30px;
    }

    .promociones{
        margin: 2px;
        width: 30%;
        align-content: space-around;
    }
    .promociones:hover{
        width: 32%;
        font-size: 17px;
    }
    .second-sale{
        display: flex;
    }
    #discuont-product, #name-product{
        font-size: 17px;
    }
    #time, #precio, #precio-before{
        font-size: 17px;
    }
    /* ::::main detalle_producto:::::: */
    main section.detail-product article{
        align-items: flex-start;
        position: relative;
    }
    
    main section .imgs-product{
        width:45%
    }
    main section article .main-data{
        width: 50%;
        margin:10px;
    }
    main section article .description{
        width: 50%;
        position: absolute;
        top: 195px;
        right: 0px;
        align-items:flex-start;
        padding-left: 2px;
    }
    main section article .description h3{
        padding-left: 15px;
    }

    main section article .description p{
        padding-left: 15px;
    }
    

/* :::::::::::::::main register::::::::::::::::::: */

    main section.register article{
        width: 50%;
        
    }
/* :::::::::::::main login:::::::::::::::: */
main section.login article{
    width: 50%;
    margin-top: 10%;
    margin-bottom: 20%;
}
 /*---------------------------main carrito de compras-------------------------*/
 main #carrito article div{
     width: auto;
     justify-content: space-around;
     flex-grow: 1;
 }

 main #carrito .encabezado{
     display: flex;
 }
 main #carrito .encabezado div h3{
 text-align: center;
 justify-content: space-around;
 width: 33%;
 }

 main #carrito .encabezado #articulos{
     display: block;
     min-width: 260px;
     text-align: center;
 }

 main #carrito article div label{
     display: none;
 }

 main #carrito #total div label{
     display: block;
 }

 
    /* :::::::footer:::::::: */
    .footer{
        position:relative;
        padding: 18px 0px;
    }
    .footer-contact,.footer-social,.footer-right{
        width:33%;
    }
    
    .footer-contact{
        position: relative;
        right: 134px;
        border-right: solid white 2px;
        border-bottom:none;
    }
    .footer-social{
        position: absolute;
        right: 0px;
        border-left: solid white 2px;
        border-bottom:none;
    }
    .footer-right{
        position: relative;
        right: 131px;
    }
}

@media(min-width: 1200px){
    .main-header-top-bar, .main-navbar{
        max-width: 1200px;
        margin: auto;
    } 
    main{
        max-width: 1200px;
        margin: auto;
    }
    
    /* footer */
    .footer{
        max-width: 1200px;
        margin: auto;
    }
    .footer-right{
        position: relative;
        right: 131px;
    }
}

/*Registrar Nuevo Producto*/

.optionNewProduct {
    padding: 30px;
}

#descripcionProducto {
    width: 40vw;
    height: 20vh;
}

#nombreProducto, #precioProducto, #categoriaProducto, #familiaAroma, #gender,#marca {
    background-color:#E6E6E6;
    border: 1px solid rgba(167, 163, 163, 0.466);
    padding: 5px;
    border-radius: 4px;
    width: 100%;
}

#registrar {
    width: 30%;
    min-width: 85px;
    max-width: 200px;
    height: 40px;  
    margin-right: 5px;
    border: 1px solid black;
    font-weight: bold;
    background-color: #152440;
    color: white;
    padding: 10px;
}

.botonRegistrarProducto {
    padding: 10px;
    text-align: center;
}

.left {
    position: relative;
    left: -5%;
}

/*Boton Nuevo Producto en el Index*/

.newProduct {
    padding: 5px 15px;
    background-color: rgba(167, 163, 163, 0.466) ;
    text-decoration: none;
    border-radius: 10px;
    border: grey 1px outset;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: all 300ms;
    margin: 20px;
    text-align: center;
}

.descripcion {
    position: relative;
    width: 40%;
    height: 30%;
}

.categoria {
    padding: 20px;
}

/*Lista de Productos*/

.productosLista {
    border: white solid 10px;
    margin: auto;
    border-radius: 20px;
    margin-top: 10px;
    padding-bottom: 7px;
    background-color: white;
    transition: all 800ms;
}

.img-product-list {
    width: 70vw;
    padding: 70px;
    border-radius: 40px 40px 40px 40px;
}

.producto-imagen-lista {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-list, .subtitle-product {
    text-align: center;
}
