<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <header class="main-header">
        <%- include('partials/header') %> 
    </header>
    <img class="img-start" src=".\img\fragance-life.jpg" alt="image">
    <main class="full body">
        <h3 id="subtitulos">Promociones</h3>
        <article class="promo">
            <article class="promociones">
                <ul type ="None">
                    <h3>¡Súper promo de la Semana!</h3>
                    <img class="product-img" src = "./img/Perfumes\silver-2.jpg" alt="imagen">
                    <div class="description">
                        <div class="description-before">
                            <li id="time">Antes:</li>
                            <li id="precio-before">$150000</li>
                        </div>
                        <div class="description-after">
                            <li id="time">Ahora:</li>
                            <li id="precio">$95000</li>
                        </div>
                    </div>
                </ul>
            </article>
        <article class="second-sale">
            <div class="third-sale">
                <ul type ="None">
                    <img class="product-img" src = ".\img\Perfumes\lbh-1.jpg" alt="imagen">
                    <div class="promotion-description">
                        <p id="discuont-product">Light Blue For Men</p>
                        <div class="description-before">
                            <li id="precio-before">$150000</li>
                        </div>
                        <p id="discuont-product">¡36% de Descuento!</p>
                        <div class="description-after">
                            <li id="precio">$95000</li>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="third-sale">
                <ul type ="None">
                    <img class="product-img" src = ".\img\Perfumes\bamboo-2.jpg" alt="imagen">
                    <div class="promotion-description">
                        <p id="discuont-product">Gucci Bamboo</p>
                        <div class="description-before">
                            <li id="precio-before">$150000</li>
                        </div>
                        <p id="discuont-product">¡36% de Descuento!</p>
                        <div class="description-after">
                            <li id="precio">$95000</li>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="third-sale">
                <ul type ="None">
                    <img class="product-img" src = ".\img\Perfumes\eros-3.jpg" alt="imagen">
                    <div class="promotion-description">
                        <p id="discuont-product">Eros Versace</p>
                        <div class="description-before">
                            <li id="precio-before">$150000</li>
                        </div>
                        <p id="discuont-product">¡36% de Descuento!</p>
                        <div class="description-after">
                            <li id="precio">$95000</li>
                        </div>
                    </div>
                </ul>
            </div>
    </article>
        </article>
        
        <h3 id="subtitulos">Productos Destacados</h3>
        <article class="producto-destacado">
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\invictus-2.jpg" alt ="imagen">
                <div class="main-product-description">
                    <p id="name-product">Invictus</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="/products/detalleproducto"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\chanel-3.jpg" alt ="imagen">
                <div>
                    <p id="name-product">Chanel N°5</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="/products/detalleproducto"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\vetiver-2.jpg" alt ="imagen">
                <div>
                    <p id="name-product">Creed Vetiver</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="/products/detalleproducto"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\lbm-4.jpg" alt ="imagen">
                <div>
                    <p id="name-product">Light Blue</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="/products/detalleproducto"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\coco-1.jpg" alt ="imagen">
                <div>
                    <p id="name-product">Coco Chanel</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="/products/detalleproducto"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
        </article>
        <h3 id="subtitulos">Productos Nuevos</h3>
        <article class="producto-destacado">
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\gg-1.jpg" alt ="imagen">
                <div>
                    <p id="name-product">Good Girl</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="/products/detalleproducto"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\one-4.jpg" alt ="imagen">
                <div>
                    <p id="name-product">One Million</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="/products/detalleproducto"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\rock-1.jpg" alt ="imagen">
                <div>
                    <p id="name-product">Rock! By Shakira</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="/products/detalleproducto"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\acqua-1.jpg" alt ="imagen">
                <div>
                    <p id="name-product">Acqua Di Gio</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="/products/detalleproducto"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
            <div class="destacado-producto">
                <img class="product-img" src = ".\img\Perfumes\lcred-1.jpg" alt ="imagen">
                <div>
                    <p id="name-product">La Coste Red</p>
                    <p id="precio">$150000</p>
                    <a class="compra" href="/products/detalleproducto"><span id="img-buy-car"><i class="fas fa-shopping-cart"></i></span></i>COMPRAR</a>
                </div>
            </div>
        </article>
    </main>
    <%- include('partials/footer') %>
</body>
</html>