<footer>
    <article class="footer">
        <div class="footer-contact">
            <p class="footer-contact-content">Contacto</p>
            <p class="footer-contact-content">Cel: (+57) 000 000 0000</p>
            <p class="footer-contact-content">Direccion: Cra 0 # 0-0</p>
        </div>
        <div class="footer-social">
            <p class="footer-social-content">Síguenos</p>
            <p class="footer-social-content"><span><a href="#"><i  id="social" class="fab fa-twitter"></i></a>
            </i></span></i><span><a href="#"><i id="social" class="fab fa-instagram"></i></a>
            </i></span><span><a href="#"><i id="social" class="fab fa-facebook-f"></i></a></span></p>
        </div>
        <div class="footer-right">
            <p class="footer-right-content">Copyright <i class="far fa-copyright"></i> 2021</p>
            <p class="footer-right-content">Heider Andrés Arellano Oviedo</p>
            <p class="footer-right-content">Daniel Nicolás Nossa Valderrama</p>
            <p class="footer-right-content">Esneyder Saavedra Cárdenas</p>
        </div>
    </article>
</footer>