
<div class="main-header-top-bar">
    <div class="main-header-top-left">
      <a class="logo"  href="/"><img src="/img/logoFraganceLife.png" alt="logo-fragance-life"></a>
    </div>
    <div class="main-header-top-right">
        <div class="login-register">
            <ul>
                <li><a href="/user/login">Iniciar sesión</a></li>
                <li class="reg"><a href="/user/register">Registrate</a></li>
            </ul>
        </div>
        <div class="rightt">
            <input type="search" name="search" id="search" placeholder="Busca productos aqui">
            <ul class="right-navbar">
                <li class="searchs"><a href="#"><i class="fas fa-search"></i></a></li>
                <li class="main-nav"><a href="#"><i class="fas fa-th-list"></i></a></li>
                <li><a href="/user/login"><i class="fas fa-user" id="user"></i></a></li>
                <li><a href="/products/carritoDeCompras"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<nav class="main-navbar">
    <ul class="navbar">
        <li id="li"><a href="/products/productsBrand">Marcas</a></li>
        <li><a href="/products/productsSmellFamily">Familia Aroma</a></li>
        <li><a href="/products/productsMen">Hombre</a></li>
        <li><a href="/products/productsWomen">Mujeres</a></li>
        <li id="promo"><a href="#">Promociones</a></li>
    </ul> 
</nav>