
<div class="main-header-top-bar">
    
    <div class="main-header-top-left">
      <a class="logo"  href="/"><img src="/img/logoFraganceLife.png" alt="logo-fragance-life"></a>
    </div>
    <div class="main-header-top-right">
        <% if (locals.isLogged) { %>
            <div class="sesion">
                <img src="/img/users/<%= locals.userLogged.avatar %> ">
                <a class="dropdown-item" href="/user/profile">Hi <%= locals.userLogged.name %></a>
							 
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            
                     <a class="dropdown-item" href="/user/logout">Logout</a>
                </ul>
            </div>
        <% } else { %>
        <div class="login-register">
            <ul>
                <li><a href="/user/login">Iniciar sesión</a></li>
                <li class="reg"><a href="/user/register">Registrate</a></li>
            </ul>
        </div>
        <% } %><form action="/products/busqueda" method="POST">
        <div class="rightt">
            <input type="search" name="search" id="search" placeholder="Busca productos aqui">
            <ul class="right-navbar">
                <li class="searchs"><button type="submit"><i class="fas fa-search"></i></button></li>
                <li class="main-nav"><a href="#"><i class="fas fa-th-list"></i></a></li>
                <% if (!locals.isLogged) { %>
                <li><a href="/user/login"><i class="fas fa-user" id="user"></i></a></li>
                <% } %>
                <li><a href="/products/carritoDeCompras"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </div></form>
    </div>
</div>
<nav class="main-navbar">
    <ul class="navbar">
        <li id="li"><a href="/products/productsBrand">Marcas</a></li>
        <li><a href="/products/productsSmellFamily">Familia Aroma</a></li>
        <li><a href="/products/productsMen">Hombre</a></li>
        <li><a href="/products/productsWomen">Mujeres</a></li>
        <li id="promo"><a href="/products/promotion">Promociones</a></li>
    </ul> 
    
</nav>
<nav class="main-navbar">
    <ul class="navbar">
        <% if (locals.isLogged && locals.userLogged.category_id == 1) { %>
            
            <li><a href="/products/administrar">Administrar</a></li>
            <li><a href="/products/crearProducto">Crear Producto</a></li>
            
            <% } %>     
    </ul>
</nav>