
<section class="slider img-slider1" id="slider">
    <button class="go-back-slider btn-slider" id="go-back-slider" onclick="previusSlider()"><</button>
    <div class="current-slider">
      <p class="text-slider">The Best New Fragrances of 2022!</p>
      <div class="slider-tabs" id="slider-tabs">
        <span class="tab current-tab"></span>
        <span class="tab"></span>
        <span class="tab"></span>
      </div>
    </div>
    <button class="go-next-slider btn-slider" id="go-next-slider" onclick="nextSlider()">></button>
  </section>
  


  <script src="js/slider.js"></script>