<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <header class="main-header">
        <%- include('../partials/header.ejs') %> 
    </header>
    <main class="main-form">
        <section class="login">
            <article>
                <form action="/user/login" method="post" class="form" id="loginForm">
                    <label for="" class="form-label_title">Inicio de Sesion Clientes</label>
                    
                    <label for="surnames" class="form-label_dates">Correo electronico*:</label>
                    <input type="email" name="email" id="email" autocomplete="email" placeholder="nombre@example.com" class="form-input-dates" required>
                    <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %>
                        </div>
                    <% } %>
                    <div class="text-danger" id="emailError"></div>

                    <label for="password" class="form-label_dates">Contraseña*:</label>
                    <input type="password" name="password" id="password" autocomplete="new-password" placeholder="*********" class="form-input-dates" required>
                    <div class="text-danger" id="passwordError"></div>

                    <a id="form-a" href="#">¿Olvidó su contraseña?</a>
                    <input class="form-input-button" id="login" type="submit" value="Iniciar Sesion">
                    
                </form>
            </article>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script type="text/javascript" src="/js/login.js"></script>
</body>
</html>