<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Fragance-Life</title>
</head>
<body>
    <header class="main-header">
        <%- include('../partials/header.ejs') %> 
    </header>
    <main>
        <section class="register">
            <article>
                <form action="" method="post" class="form">
                    <label for="" class="form-label_title">Crea tu cuenta</label>
                    <label for="" class="form-label_subtittle">Te Damos la bienvenida,¡te invitamos a registrarte!
                    </label>
                    <label for="names" class="form-label_dates">Nombres*:</label>
                    <input type="text" name="names" autocomplete = "given-name" minlength="2" class="form-input-dates" required >

                    <label for="surnames" class="form-label_dates">Apellidos*:</label>
                    <input type="text" name="surnames" autocomplete = "family-name" minlength="2" class="form-input-dates" required >

                    <label for="surnames" class="form-label_dates">Correo electronico*:</label>
                    <input type="email" name="email" id="email" autocomplete="email" placeholder="nombre@example.com" class="form-input-dates" required>

                    <label for="password" class="form-label_dates">Contraseña*:</label>
                    <input type="password" name="password" id="password" autocomplete="new-password" placeholder="*********" class="form-input-dates" required>

                    <label for="password" class="form-label_dates">Confirmar Contraseña*:</label>
                    <input type="password" name="confirmpassword" id="confirmpassword" autocomplete="new-password" placeholder="*********" class="form-input-dates" required>

                    <input class="form-input-button" type="submit" value="Registrarse">
                    <input class="form-input-button login" type="button" value="Iniciar Sesion" href="#">
                </form>
            </article>
        </section>
    </main>
    <footer>
        <article class="footer">
            <div class="footer-contact">
                <p class="footer-contact-content">Contacto</p>
                <p class="footer-contact-content">Cel: (+57) 000 000 0000</p>
                <p class="footer-contact-content">Direccion: Cra 0 # 0-0</p>
            </div>
            <div class="footer-social">
                <p class="footer-social-content">Síguenos</p>
                <p class="footer-social-content"><span><a href="#"><i  id="social" class="fab fa-twitter"></i></a>
                </i></span></i><span><a href="#"><i id="social" class="fab fa-instagram"></i></a>
                </i></span><span><a href="#"><i id="social" class="fab fa-facebook-f"></i></a></span></p>
            </div>
            <div class="footer-right">
                <p class="footer-right-content">Copyright <i class="far fa-copyright"></i> 2021</p>
                <p class="footer-right-content">Heider Andrés Arellano Oviedo</p>
                <p class="footer-right-content">Daniel Nicolás Nossa Valderrama</p>
                <p class="footer-right-content">Esneyder Saavedra Cárdenas</p>
            </div>
        </article>
    </footer>
</body>
</html>